# requirements.txt
torch>=2.0
transformers>=4.35.2
modelscope>=1.11.0
peft>=0.6.2
accelerate>=0.24.1
datasets>=2.14.6
evaluate>=0.4.1
pandas>=2.1.4
numpy>=1.26.2
sentence-transformers>=2.2.2
pymilvus>=2.4.3
python-dotenv>=1.0.0
ollama>=0.2.0  # 版本号可根据实际安装的调整